# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
packages/
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# UWP App Packages
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.msix
*.msixbundle
*.appxupload
*.msixupload

# Signing
*.pfx

# Windows Store
*.cer

# Misc
*.log
*.tmp
*.temp
_ReSharper.DotSettings.user
